<!DOCTYPE html>
<html>
  <head>
    <%- include("../master/head.ejs") %>
  </head>
  <body>
    <div id="wrap" class="wrap hidden">
      <!-- Header -->
      <%- include("../master/header.ejs") %>
      <!--메인-->
      <div class="container_body">
        <div class="container_row navi">
          <div id="subCategoryDom" class="report_category"></div>
        </div>
        <div class="container_row flex_jus_end default_search_area mt0">
          <div class="search_area">
            <div class="search_box">
              <span class="search_title">회원등급</span>
              <select id="accountGrade" class="form-control">
                <option value="all">모두</option>
                <option value="awaiter">awaiter</option>
                <option value="manager">manager</option>
                <option value="admin">admin</option>
              </select>
            </div>
            <div class="search_box">
              <span class="search_title">회원접근차단</span>
              <select id="accountSecession" class="form-control">
                <option value="all">모두</option>
                <option value="ok">O</option>
                <option value="no">X</option>
              </select>
            </div>
            <div class="search_box">
              <span class="search_title">계정잠김여부</span>
              <select id="accountLock" class="form-control">
                <option value="all">모두</option>
                <option value="ok">O</option>
                <option value="no">X</option>
              </select>
            </div>
            <div class="submit_box">
              <button
                type="button"
                class="btn btn-primary"
                onclick="searchReport()"
                id="search"
              >
                검색
              </button>
            </div>
          </div>
        </div>
        <div class="container_row flex_dir_col">
          <div class="table-responsive default_area">
            <table class="table table-bordered number_table table-location-href nowrap">
              <colgroup>
                <col width="5%" />
                <col width="8%" />
                <col width="8%" />
                <col width="8%" />
                <col width="15%" />
                <col width="15%" />
                <col width="10%" />
                <col width="10%" />
                <col width="10%" />
              </colgroup>
              <thead id="tableHeaderDom">
                <tr>
                  <th>번호</th>
                  <th>ID</th>
                  <th>성명</th>
                  <th>닉네임</th>
                  <th>관리사이트</th>
                  <th>전화번호</th>
                  <th>회원등급</th>
                  <th>회원접근차단</th>
                  <th>계정잠김여부</th>
                </tr>
              </thead>

              <tbody id="tableBodyDom">
                <tr>
                  <td class="text-center">1</td>
                  <td class="text-center">tester</td>
                  <td class="text-center">테스터</td>
                  <td class="text-center">tester</td>
                  <td class="text-center">나주</td>
                  <td class="text-center">010-8596-1852</td>
                  <td class="text-center">manager</td>
                  <td class="text-center">X</td>
                  <td class="text-center">X</td>
                </tr>
                <script id="bodyTemplate" type="template">
                  <tr data-idx={{member_seq}}>
                    <td class="text-center">{{ rowsNumber }}</td>
                    <td class="text-center">{{ user_id }}</td>
                    <td class="text-center">{{ name }}</td>
                    <td class="text-center">{{ nick_name }}</td>
                    <td class="text-center">{{ main_name }}</td>
                    <td class="text-center">{{ tel }}</td>
                    <td class="text-center">{{ grade }}</td>
                    <td class="text-center">{{ is_deleted }}</td>
                    <td class="text-center">{{ is_account_lock }}</td>
                  </tr>
                </script>
              </tbody>
            </table>
          </div>
          <div id="paginationDom" class="table_pagenation"></div>
        </div>
      </div>
      <!--하단1-->
      <%- include("../master/footer.ejs") %>
    </div>
  </body>

  <script>
    const dom = <%- JSON.stringify(dom) %>;

    const reportRows = <%- JSON.stringify(reportRows) %>;
    const paginationInfo = <%- JSON.stringify(paginationInfo) %>;
  </script>

  <script>
    // 돔 설정
    const { paginationDom, subCategoryDom } = dom;

    const firstRowNum = (paginationInfo.page - 1) * paginationInfo.pageListCount;
    document.getElementById('paginationDom').innerHTML = paginationDom;
    document.getElementById('subCategoryDom').innerHTML = subCategoryDom;
  </script>

  <script>
    //2. htmlTemplate을 가져온후 Handlebars로 compile 한다.
    const commentTemplate = document.querySelector('#bodyTemplate').innerHTML;
    const commentBindTemplate = Handlebars.compile(commentTemplate);

    //3. 컴파일한 템플릿에 데이터를 집어넣는다. 이 때 리턴값은 html로 나온다.
    const tableBody = _.map(reportRows, function (reportRow, index) {
      const rowNumber = firstRowNum + index + 1;

      Object.assign(reportRow, { rowsNumber: rowNumber });
      reportRow.is_deleted = reportRow.is_deleted === 0 ? 'X' : 'O';
      reportRow.is_account_lock = reportRow.is_account_lock === 0 ? 'X' : 'O';

      return commentBindTemplate(reportRow);
    }).join('');

    // 4. 리턴받은 html을 target에 innerHTML로 세팅한다.
    const commentUl = document.querySelector('#tableBodyDom');
    document.getElementById('tableBodyDom').innerHTML = tableBody;

    // 조회한 쿼리스트링 가져옴
    const searchInfo = paginationInfo.queryString;
    // 쿼리스트링이 존재할 경우에만
    if (typeof searchInfo === 'object') {
      // 쿼리스트링 존재 수 만큼 반복하면서 selectBox 값 변경
      _.forEach(searchInfo, function (value, key) {
        const domElement = document.getElementById(key);
        // domElement가 존재할 경우에만 실행
        domElement && $(domElement).val(value).prop('selected', true);
      });
    }
  </script>

  <script src="/js/contents/report/search.js"></script>

  <script>
    $('#tableBodyDom').on('click', 'tr', function (event) {
      const memberIdx = $(this).data('idx');
      location.href =
        window.location.origin + '/' + naviId + '/' + siteId + '/member/' + memberIdx;
    });
    // 검색 클릭 시
    function searchReport() {
      const accountGrade = document.querySelector('#accountGrade option:checked').value;
      const accountSecession = document.querySelector('#accountSecession option:checked')
        .value;
      const accountLock = document.querySelector('#accountLock option:checked').value;

      const queryString =
        'accountGrade=' +
        accountGrade +
        '&accountSecession=' +
        accountSecession +
        '&accountLock=' +
        accountLock;

      // 사이트 변경 시
      location.href = `${window.location.origin}/${naviId}/${siteId}/member?${queryString}`;
    }
  </script>
</html>
