<!DOCTYPE html>
<html>
  <head>
    <!-- Default Js -->
    <%- include("../master/head.ejs") %>

    <!-- 발전 예측 관련 -->
    <script src="/js/contents/main/powerPredictor.js"></script>
    <script src="/js/contents/master/mainUtil.js"></script>
    <script src="/js/handlebars.min.js"></script>
    <script src="/js/common-html/table-to-excel.js"></script>

    <!-- <script src="/js/hichart/dark-unica.theme.js"></script> -->

    <script src="/js/hichart/exporting.js"></script>
    <script src="/js/hichart/export-data.js"></script>
  </head>

  <body>
    <div id="wrap" class="wrap hidden">
      <!-- Header -->
      <%- include("../master/header.ejs") %>
      <!--메인-->
      <div class="container_body">
        <div class="container_row navi">
          <div id="subCategoryDom" class="report_category"></div>
        </div>

        <div class="container_row flex_jus_end default_search_area mt0">
          <div class="search_area" id="searchArea">
            <div class="search_box ">
              <span class="search_title">수위(cm)</span>
              <div class="search_body">
                <input
                  class="input_tre"
                  placeholder="실측값"
                  id="setWaterLevel"
                  name="subSearch"
                  type="text"
                />
              </div>
            </div>
            <div class="search_box ">
              <span class="search_title">회귀계수 B1</span>
              <div class="search_body">
                <input class="input_tre" id="regressionB1" name="subSearch" type="text" />
              </div>
            </div>
            <div class="search_box ">
              <span class="search_title">회귀계수 B2</span>
              <div class="search_body">
                <input class="input_tre" id="regressionB2" name="subSearch" type="text" />
              </div>
            </div>
            <div class="search_box ">
              <span class="search_title">회귀계수 B3</span>
              <div class="search_body">
                <input class="input_tre" id="regressionB3" name="subSearch" type="text" />
              </div>
            </div>
            <div class="search_box ">
              <span class="search_title">손실 계수 K</span>
              <div class="search_body">
                <input class="input_tre" id="regressionK" name="subSearch" type="text" />
              </div>
            </div>
            <div class="search_box ">
              <span id="subCategoryName" class="search_title">인버터</span>
              <select id="subSelectBoxDom" class="form-control"> </select>
            </div>
            <div class="search_box ">
              <span class="search_title">조회기간</span>
              <select id="searchType" class="form-control">
                <option value="days">일일</option>
                <option value="months">월간</option>
                <option value="years">년간</option>
                <option value="range">기간선택</option>
              </select>
            </div>
            <div class="search_box ">
              <span class="search_title">조회간격</span>
              <select id="searchInterval" class="form-control">
                <option value="min">1분</option>
                <option value="min10">10분</option>
                <option value="hour">1시간</option>
                <option value="day">1일</option>
                <option value="month">1달</option>
              </select>
            </div>
            <div class="search_box">
              <span class="search_title">날짜</span>
              <div class="search_body">
                <input
                  class="input_tre"
                  name="start"
                  id="strStartDateInputValue"
                  type="text"
                  readonly
                />
                <span id="between-start-end" hidden>~</span>
                <input
                  class="input_tre"
                  name="end"
                  id="strEndDateInputValue"
                  type="text"
                  readonly
                  hidden
                />
              </div>
            </div>
            <div class="submit_box">
              <button type="button" class="btn btn-primary" id="searchBtn">
                검색
              </button>
            </div>
          </div>
        </div>

        <div class="container_row flex_dir_col ">
          <div id="divDomArea" class="flex_box">
            <div class="lineChart_box default_area" id="section_1"></div>
            <div class="lineChart_box default_area" id="section_2"></div>
          </div>
        </div>
        <!-- 이상 상태 요인 분석 -->
        <div class="container_row">
          <div class="component_piece_box flex_15">
            <article class="component_piece_area">
              <header>인버터 출력 이상</header>
              <section class="component_piece_body">
                <h5>
                  <span>측정 조건:</span>
                  <span class="color_yellow">일사량 > 500 W/㎡</span>
                  <span>,</span>
                  <span class="color_green">수위 > 1cm</span>
                </h5>
                <div class="default_area text-center">
                  <table class="table table-bordered ">
                    <thead id="">
                      <th>번호</th>
                      <th>인버터</th>
                      <th>손실률 (%)</th>
                      <th>비고</th>
                    </thead>
                    <tbody id="invAbnormalBody">
                      <script id="invAbnormalBodyTemplate" type="template">
                        <tr>
                          <td>{{ rowNumber }}</td>
                          <td>{{ targetName }}</td>
                          <td>{{ lossRate }}</td>
                          <td class="{{ abnormalClass }}">{{ abnormalTxt }}</td>
                        </tr>
                      </script>
                    </tbody>
                  </table>
                </div>
              </section>
            </article>
          </div>
          <div class="component_piece_box flex_15">
            <article class="component_piece_area">
              <header>직렬 모듈 간 출력 이상</header>
              <section class="component_piece_body">
                <h5>
                  <span>측정 조건:</span>
                  <span class="color_yellow">일사량 > 700 W/㎡</span>
                  <span>,</span>
                  <span class="color_green">11:00 < 시간 < 14:00</span>
                </h5>
                <div class="default_area text-center">
                  <table class="table table-bordered ">
                    <thead id="">
                      <th>번호</th>
                      <th>직렬모듈</th>
                      <th>출력비율 (%)</th>
                      <th>비고</th>
                    </thead>
                    <tbody id="smAbnormalBody">
                      <tr>
                        <td colspan="4">이상 없음</td>
                      </tr>
                      <script id="smAbnormalBodyTemplate" type="template">
                        <tr>
                          <td>{{ rowNumber }}</td>
                          <td>{{ systemName }}-{{ powerCh }} CH</td>
                          <td>{{ powerRate }}</td>
                          <td class="{{ abnormalStatusCss }}">{{ abnormalTxt }}</td>
                        </tr>
                      </script>
                    </tbody>
                  </table>
                </div>
              </section>
            </article>
          </div>
        </div>

        <!-- 직렬 모듈 간 출력 이상 -->
        <div class="container_row flex_dir_col">
          <p class="table_desc_area">
            직렬 모듈 간 출력 분석
          </p>
          <div class="table-responsive default_area">
            <table class="table table-bordered number_table">
              <thead id="tableHeaderDom">
                <tr>
                  <th rowspan="2" style="width: 10%">접속반</th>
                  <th colspan="2">1 CH</th>
                  <th colspan="2">2 CH</th>
                  <th colspan="2">3 CH</th>
                  <th colspan="2">4 CH</th>
                  <th colspan="2">5 CH</th>
                  <th colspan="2">6 CH</th>
                </tr>
                <tr>
                  <th>출력 (kW)</th>
                  <th>출력비 (%)</th>
                  <th>출력 (kW)</th>
                  <th>출력비 (%)</th>
                  <th>출력 (kW)</th>
                  <th>출력비 (%)</th>
                  <th>출력 (kW)</th>
                  <th>출력비 (%)</th>
                  <th>출력 (kW)</th>
                  <th>출력비 (%)</th>
                  <th>출력 (kW)</th>
                  <th>출력비 (%)</th>
                </tr>
              </thead>
              <tbody id="smBody">
                <tr>
                  <td class="text-center" colspan="13">조건 충족 데이터 없음</td>
                </tr>
                <script id="smBodyTemplate" type="template">
                  <tr>
                    <td class="text-center">{{ systemName }}</td>
                    <td>{{ power1Ch }}</td>
                    <td class="{{ abnormalCss1Ch }}">{{ powerRate1Ch }}</td>
                    <td>{{ power2Ch }}</td>
                    <td class="{{ abnormalCss2Ch }}">{{ powerRate2Ch }}</td>
                    <td>{{ power3Ch }}</td>
                    <td class="{{ abnormalCss3Ch }}">{{ powerRate3Ch }}</td>
                    <td>{{ power4Ch }}</td>
                    <td class="{{ abnormalCss4Ch }}">{{ powerRate4Ch }}</td>
                    <td>{{ power5Ch }}</td>
                    <td class="{{ abnormalCss5Ch }}">{{ powerRate5Ch }}</td>
                    <td>{{ power6Ch }}</td>
                    <td class="{{ abnormalCss6Ch }}">{{ powerRate6Ch }}</td>
                  </tr>
                </script>
              </tbody>
            </table>
          </div>
          <div id="paginationDom" class="table_pagenation"></div>
        </div>
        <!-- 손실저하 요인 분석 -->
        <div class="container_row flex_dir_col">
          <div class="flex flex_jus_bet">
            <p class="table_desc_area">
              손실저하 요인 분석
            </p>
            <div class="submit_box">
              <input type="button" class="btn-info" id="downloadExcel" value="다운로드 엑셀" />
            </div>
          </div>

          <div class="table-responsive default_area">
            <table id="lossAnalysisTable" class="table table-bordered number_table">
              <colgroup>
                <col width="5%" />
                <col width="10%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
                <col width="7%" />
              </colgroup>
              <thead>
                <tr>
                  <th rowspan="2">번호</th>
                  <th rowspan="2">시간</th>
                  <th colspan="4">발전 예측</th>
                  <th colspan="7">발전 분석</th>
                  <th colspan="4">손실 저하 요인</th>
                </tr>
                <tr>
                  <th>일사량(W/㎡)</th>
                  <th>예측 발전량(kW)</th>
                  <th>실측 발전량(kW)</th>
                  <th>발전량 오차율(%)</th>

                  <th>예측 모듈 온도(℃)</th>
                  <th>실측 모듈 온도(℃)</th>
                  <th>모듈 온도 오차율(%)</th>
                  <th>예측 모듈 온도 손실(%)</th>
                  <th>수위(cm)</th>
                  <th>수위 손실(%)</th>
                  <th>청정도 손실(%)</th>

                  <th>인버터 운전 손실(%)</th>
                  <th>모듈 노후화 손실(%)</th>
                  <th>어레이 미스매치 손실(%)</th>
                  <th>기타(%)</th>
                </tr>
              </thead>
              <tbody id="lossAnalysis">
                <script id="bodyTemplate" type="template">
                  <tr>
                    <td>{{ rowNumber }}</td>
                    <td>{{ gDate }}</td>

                    <td>{{ avgSolar }}</td>
                    <td>{{ prePower }}</td>
                    <td>{{ realPower }}</td>
                    <td class="{{ abnormalClass }}">{{ lossRate }}</td>

                    <td>{{ preWaterModuleTemp }}</td>
                    <td>{{ avgModuleTemp }}</td>
                    <td>{{ moduleTempLoss }}</td>
                    <td>{{ lossModuleTempRate }}</td>
                    <td>{{ avgWaterLevel }}</td>
                    <td>{{ lossWaterLevelRate }}</td>
                    <td>{{ lossCleanlinessRate }}</td>

                    <td>{{ lossInvRate }}</td>
                    <td>{{ lossAgingRate }}</td>
                    <td>{{ lossMissMatchRate }}</td>
                    <td>{{ lossPointRate }}</td>
                  </tr>
                </script>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--하단1-->
      <%- include("../master/footer.ejs") %>
    </div>

    <script>
      document.querySelector('#downloadExcel').addEventListener('click', () => {
        exportTableToExcel('lossAnalysisTable', '손실저하 요인 분석')
      })

      $('#subCategoryDom').html(<%- JSON.stringify(dom.subCategoryDom) %>);

      $('#subSelectBoxDom').html(<%- JSON.stringify(dom.subSelectBoxDom) %>);

      const searchRange = <%- JSON.stringify(searchRange) %>;

      const regressionInfo = <%- JSON.stringify(regressionInfo) %>;

      const chartInfo =  <%- JSON.stringify(chartInfo) %>;

      const analysisReport =  <%- JSON.stringify(analysisReport) %>;

      const lossAnalysisRows = <%- JSON.stringify(lossAnalysisRows) %>;

      // 인버터 출력 이상
      const resultInvAbnormalList = <%- JSON.stringify(abnormalInfo.resultInvAbnormalList) %>;
      const resultSmAbnormalList = <%- JSON.stringify(abnormalInfo.resultSmAbnormalList) %>;

      const mainFontSize = 15;
      const subFontSize = 13;
      setDomElementValueWithJson(document.getElementById('searchArea'), regressionInfo, 'value', 'id')
    </script>

    <script>
      //2. htmlTemplate을 가져온후 Handlebars로 compile 한다.
      var commentTemplate = document.querySelector('#bodyTemplate').innerHTML;
      var commentBindTemplate = Handlebars.compile(commentTemplate);

      //3. 컴파일한 템플릿에 데이터를 집어넣는다. 이 때 리턴값은 html로 나온다.
      var firstRowNum = 0;
      var tableBody = _.map(lossAnalysisRows, function(reportRow, index) {
        var abnormalStatusCss = '';
        if (reportRow.inverterAbnormalStatus)
          switch (reportRow.inverterAbnormalStatus) {
            case 0:
              abnormalStatusCss = 'color_white';
              break;
            case 1:
              abnormalStatusCss = 'color_yellow';
              break;
            case 2:
              abnormalStatusCss = 'color_red';
              break;
            default:
              abnormalStatusCss = 'color_white';
              break;
          }

        var rowNumber = firstRowNum + index + 1;
        Object.assign(reportRow, {
          rowNumber: rowNumber,
          abnormalClass: abnormalStatusCss,
        });

        return commentBindTemplate(reportRow);
      });

      // 4. 리턴받은 html을 target에 innerHTML로 세팅한다.
      var commentUl = document.querySelector('#lossAnalysis');
      $('#lossAnalysis').html(tableBody);
    </script>

    <!-- 인버터 출력 이상 개요 -->
    <script>
      // 인버터 출력 이상이 있을 경우
      var commentTemplate = document.querySelector('#invAbnormalBodyTemplate').innerHTML;
      var commentBindTemplate = Handlebars.compile(commentTemplate);

      //3. 컴파일한 템플릿에 데이터를 집어넣는다. 이 때 리턴값은 html로 나온다.
      var firstRowNum = 0;
      var tableBody = _.map(resultInvAbnormalList, function(abnormalInfo, index) {
        var abnormalStatusCss = '';
        var abnormalStatusTxt = '';
        switch (abnormalInfo.abnormalCode) {
          case 0:
            abnormalStatusCss = 'color_white';
            abnormalStatusTxt = '정상';
            break;
          case 1:
            abnormalStatusCss = 'color_yellow';
            abnormalStatusTxt = '주의';
            break;
          case 2:
            abnormalStatusCss = 'color_red';
            abnormalStatusTxt = '이상';
            break;
          default:
            abnormalStatusCss = 'color_white';
            abnormalStatusTxt = '정상';
            break;
        }
        var rowNumber = firstRowNum + index + 1;
        Object.assign(abnormalInfo, {
          rowNumber: rowNumber,
          abnormalClass: abnormalStatusCss,
          abnormalTxt: abnormalStatusTxt,
        });

        return commentBindTemplate(abnormalInfo);
      });

      // 4. 리턴받은 html을 target에 innerHTML로 세팅한다.
      $('#invAbnormalBody').html(tableBody);
    </script>

    <!-- 직렬 모듈간 출력 이상 -->
    <script>
      var smAbnormalTemplate = document.querySelector('#smAbnormalBodyTemplate').innerHTML;
      var smAbnormalBindTemplate = Handlebars.compile(smAbnormalTemplate);

      //3. 컴파일한 템플릿에 데이터를 집어넣는다. 이 때 리턴값은 html로 나온다.
      if (resultSmAbnormalList.length) {
        var tableBody = _(resultSmAbnormalList)
          .map((abnormalInfo, index) => {
            const { systemName, smPowerList } = abnormalInfo;

            return _.chain(smPowerList)
              .reject(smInfo => {
                return smInfo.abnormalCode === 0;
              })
              .map(smInfo => Object.assign({ rowNumber: index++, systemName }, smInfo))
              .value();
          })
          .flatten()
          .map(smAbnormalBindTemplate)
          .value();

        // 4. 리턴받은 html을 target에 innerHTML로 세팅한다.
        $('#smAbnormalBody').html(tableBody);
      }
    </script>

    <!-- 직렬 모듈간 출력 분석 -->
    <script>
      var smTemplate = document.querySelector('#smBodyTemplate').innerHTML;
      var smBindTemplate = Handlebars.compile(smTemplate);

      //3. 컴파일한 템플릿에 데이터를 집어넣는다. 이 때 리턴값은 html로 나온다.
      if (resultSmAbnormalList.length) {
        var tableBody = _.map(resultSmAbnormalList, (abnormalInfo, index) => {
          const { systemName, smPowerList } = abnormalInfo;

          const smAbnormalReport = smPowerList.reduce(
            (abnormalInfo, smPowerInfo, rIndex) => {
              const { powerCh, power, powerRate, abnormalStatusCss } = smPowerInfo;
              _.set(abnormalInfo, `power${powerCh}Ch`, power);
              _.set(abnormalInfo, `powerRate${powerCh}Ch`, powerRate);
              _.set(abnormalInfo, `abnormalCss${powerCh}Ch`, abnormalStatusCss);

              return abnormalInfo;
            },
            { systemName },
          );

          return smBindTemplate(smAbnormalReport);
        });

        // 4. 리턴받은 html을 target에 innerHTML로 세팅한다.
        $('#smBody').html(tableBody);
      }
    </script>

    <script src="/js/contents/report/search.js"></script>

    <script>
      // 발전 예측 분석 옵션
      const predictPowerOpions = [
        {
          key: 'powerKw',
          name: '실제발전',
          valueSuffix: ' kW',
        },
        {
          key: 'prePowerKw',
          name: '예측발전',
          valueSuffix: ' kW',
        },
      ];

      // 환경 분석 옵션
      const predictEnvOpions = [
        {
          key: 'brineTemp',
          name: '수온',
          valueSuffix: ' ˚C',
        },
        {
          key: 'moduleTemp',
          name: '모듈온도',
          valueSuffix: ' ˚C',
        },
        {
          key: 'waterLevel',
          name: '수위',
          valueSuffix: ' ˚C',
          yAxis: 1,
        },
      ];
    </script>

    <!-- 출력 트렌드 1 Negative Area Chart -->
    <script>
      function drawSection1Chart() {
        Highcharts.chart('section_1', {
          chart: {
            type: 'line',
            // marginLeft: 45,
            // marginRight: 20,
            marginTop: 35,
            zoomType: 'xy',
          },
          title: {
            text: '발전 예측 트렌드',
          },
          xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
              second: '%H:%M:%S',
              minute: '%H:%M',
              hour: '%H:%M',
              day: '%m-%d',
              week: '%m-%d',
              month: '%y-%m',
              year: '%Y',
            },
            labels: {
              style: {
                fontSize: subFontSize,
              },
            },
          },
          yAxis: [
            {
              title: {
                text: '발전량 (kW)',
                style: {
                  fontSize: mainFontSize,
                  color: Highcharts.getOptions().colors[10],
                },
              },
              labels: {
                style: {
                  fontSize: subFontSize,
                },
              },
            },
            {
              title: {
                text: '일사량 (W/㎡)',
                style: {
                  fontSize: mainFontSize,
                  color: Highcharts.getOptions().colors[10],
                },
              },
              labels: {
                style: {
                  fontSize: subFontSize,
                },
              },
              opposite: true,
            },
          ],
          plotOptions: {
            series: {
              marker: false,
            },
          },
          tooltip: {
            shared: true,
          },
          series: chartInfo.dailyPowerData,
          credits: {
            enabled: false,
          },
        });
      }
    </script>

    <!-- 출력 트렌드 2 Negative Area Chart -->
    <script>
      function drawSection2Chart() {
        Highcharts.chart('section_2', {
          chart: {
            type: 'line',
            marginTop: 35,
            zoomType: 'xy',
          },
          title: {
            text: '모듈 온도 예측 트렌드',
          },
          xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
              second: '%H:%M:%S',
              minute: '%H:%M',
              hour: '%H:%M',
              day: '%m-%d',
              week: '%m-%d',
              month: '%y-%m',
              year: '%Y',
            },
            labels: {
              style: {
                fontSize: subFontSize,
              },
            },
          },
          yAxis: [
            {
              title: {
                text: '온도 (˚C)',
                style: {
                  fontSize: mainFontSize,
                  color: Highcharts.getOptions().colors[10],
                },
              },
              labels: {
                style: {
                  fontSize: subFontSize,
                },
              },
            },
          ],
          plotOptions: {
            series: {
              marker: false,
            },
          },
          tooltip: {
            shared: true,
          },
          series: chartInfo.dailyEnvChart,
          credits: {
            enabled: false,
          },
        });
      }
    </script>

    <script>
      checkSelectBoxOption('searchInterval', searchRange.searchInterval);
      checkSelectBoxOption('searchType', searchRange.searchType);
      checkSelectBoxOption('searchOption', searchRange.searchOption);

      // 검색 타입에 따라 적용
      applySearchType(searchRange.searchType);

      // 검색 클릭 시
      document.querySelector('#searchBtn').addEventListener('click', function(event) {
        // searchRange 형태 만듬
        const searchValue = getSearchValue();

        if (_.isEmpty(searchValue)) return false;

        const subCategoryId = document
          .querySelector('#subSelectBoxDom option:checked')
          .value.trim();
        // searchValue = Object.assign(searchValue, { subCategoryId: subCategoryId.trim() });

        // 보정계수 검색
        document.querySelectorAll('[name=subSearch]').forEach(domElement => {
          searchValue[domElement.id] = domElement.value;
        });
        // 쿼리스트링 생성
        const queryString = _.map(searchValue, function(value, key) {
          return key + '=' + value;
        }).join('&');

        if (queryString.length) {
          $('#loader').removeClass('hidden');
          $('#loader-ground').removeClass('hidden');

          // 사이트 변경 시
          location.href = `${window.location.origin}/${naviId}/${siteId}/${subCategory}/${subCategoryId}?${queryString}`;
        }
      });
    </script>

    <!-- FIXME: 시연용 1분 단위 ReDraw -->
    <script>
      function drawAllChart() {
        drawSection1Chart();
        drawSection2Chart();
      }
      drawAllChart();
    </script>
  </body>
</html>
