<!DOCTYPE html>
<html>
  <head>
    <!-- Default Js -->
    <%- include("../master/head.ejs") %>
    <script src="/js/hichart/exporting.js"></script>
    <script src="/js/hichart/export-data.js"></script>
    <script src="/js/contents/master/mainUtil.js"></script>
    <script src="/js/contents/main/hichartMaker.js"></script>
    <link href="/css/spinner.css" rel="stylesheet" />
  </head>

  <body>
    <%- include("../master/spinner.ejs") %>
    <div id="wrap" class="wrap hidden">
      <!-- Header -->
      <%- include("../master/header.ejs") %>
      <!--메인-->
      <div class="container_body">
        <div class="container_row navi">
          <div id="subCategoryDom" class="report_category"></div>
        </div>
        <%- include("../master/search.ejs") %>
        <div class="container_row flex_dir_col mt0">
          <p id="chartAreaTitle" class="table_desc_area"></p>
          <div id="chartDomList" class="flex_box"></div>
        </div>
      </div>
      <!--하단1-->
      <%- include("../master/footer.ejs") %>
    </div>
    <script>
      const chartDomList = <%- JSON.stringify(dom.chartDomList) %>;
      const subCategoryDom = <%- JSON.stringify(dom.subCategoryDom) %>;

      const chartList = <%- JSON.stringify(chartList) %>;
      const searchRange = <%- JSON.stringify(searchRange) %>;
      const trendInfo = <%- JSON.stringify(trendInfo) %>;
      const subCategoryName = _.get(trendInfo, 'subCategoryName');

      // 차트를 위치시킬 돔 생성
      document.getElementById('chartDomList').innerHTML = chartDomList;
      // 생성된 돔에 차트 구현
      chartList.forEach(function (chartInfo) {
        makeLineChart(chartInfo)
      });

      document.getElementById('subCategoryDom').innerHTML = subCategoryDom;
      document.getElementById('chartAreaTitle').innerText = `${subCategoryName} 트렌드`;
    </script>

    <script src="/js/contents/report/search.js"></script>
    <!-- 기본 데이터 세팅 -->
    <script>
      checkSelectBoxOption('searchInterval', searchRange.searchInterval);
      checkSelectBoxOption('searchType', searchRange.searchType);
      checkSelectBoxOption('searchOption', searchRange.searchOption);

      // 검색 타입에 따라 적용
      // applySearchType(searchRange.searchType);
      document.querySelector('#searchType').dispatchEvent(new Event('change'));
    </script>
  </body>
</html>
