<!DOCTYPE html>
<html>
  <head>
    <!-- Default Js -->

    <%- include("../master/head.ejs") %>
    <script src="/js/contents/master/mainUtil.js"></script>
    <script src="/js/hichart/dark-unica.theme.js"></script>
    <script src="/js/contents/main/hichartMaker.js"></script>
  </head>

  <body>
    <div id="wrap" class="wrap hidden">
      <!-- Header -->
      <%- include("../master/header.ejs") %>
      <!--메인-->
      <div class="container_body">
        <div class="container_row">
          <div class="component_piece_box side_box">
            <article class="component_piece_area side_section_power">
              <div class="data_title_section">
                <h4>발전현황</h4>
                <h5>Development status</h5>
              </div>
              <section id="powerStatus" class="data_view_section fs_150rem">
                <article class="sensor_data_view sdv_w_side">
                  <p>현재 출력</p>
                  <p id="currKw">-</p>
                  <p>kW</p>
                </article>
                <article class="sensor_data_view sdv_w_side">
                  <p>금일발전량</p>
                  <p id="dailyPower">-</p>
                  <p>kWh</p>
                </article>
                <article class="sensor_data_view sdv_w_side">
                  <p>당월발전량</p>
                  <p id="monthPower">-</p>
                  <p>kWh</p>
                </article>
                <article class="sensor_data_view sdv_w_side">
                  <p>누적발전량</p>
                  <p id="cumulativePower">-</p>
                  <p>MWh</p>
                </article>
                <!-- <article class="sensor_data_view sdv_w_side">
                <p>CO2저감량</p>
                <p id="co2">123.2</p>
                <p>Ton</p>
              </article> -->
              </section>
              <div class="power_img"></div>
            </article>
          </div>
          <div class="component_piece_box gauge_box">
            <article class="component_piece_area">
              <header>
                현재 발전현황
              </header>
              <div class="component_piece_body overY_h">
                <div id="current_power_graph" class="gauge_chart">Graph</div>
                <section id="current_power_data" class="gauge_contents">
                  <article class="sensor_data_view sdv_w541 fs_170rem">
                    <p>현재 출력</p>
                    <p class="fs_150em" data-id="currKw">196</p>
                    <p>kW</p>
                  </article>
                  <!-- <article class="sensor_data_view sdv_w541 fs_170rem">
                  <p>발전 효율</p>
                  <p class="fs_150em" data-id="currPf">196</p>
                  <p>%</p>
                </article> -->
                </section>
              </div>
            </article>
          </div>
          <div class="component_piece_box gauge_box">
            <article class="component_piece_area">
              <header>금일발전량</header>
              <div class="component_piece_body overY_h">
                <div id="daily_power_graph" class="gauge_chart">Graph</div>
                <section id="daily_power_data" class="gauge_contents">
                  <article class="sensor_data_view sdv_w541 fs_170rem">
                    <p>당월 발전량</p>
                    <p class="fs_150em" data-id="monthPower">196</p>
                    <p>kWh</p>
                  </article>
                  <article class="sensor_data_view sdv_w541 fs_170rem">
                    <p>누적 발전량</p>
                    <p class="fs_150em" data-id="cumulativePower">196</p>
                    <p>MWh</p>
                  </article>
                </section>
              </div>
            </article>
          </div>
        </div>
        <div class="container_row">
          <div class="component_piece_box side_box">
            <div class="component_piece_area side_section_growth">
              <div class="data_title_section">
                <h4>생육환경정보</h4>
                <h5>Growth Environment</h5>
              </div>
              <section id="growthEnv" class="data_view_section fs_150rem">
                <article class="sensor_data_view sdv_w_side">
                  <p>일사량</p>
                  <p id="inclinedSolar">-</p>
                  <p>W/m²</p>
                </article>
                <article class="sensor_data_view sdv_w_side">
                  <p>조도</p>
                  <p id="lux">-</p>
                  <p>lx</p>
                </article>
                <article class="sensor_data_view sdv_w_side">
                  <p>CO2</p>
                  <p id="co2">-</p>
                  <p>ppm</p>
                </article>
                <article class="sensor_data_view sdv_w_side">
                  <p>외기온도</p>
                  <p id="outsideAirTemperature">-</p>
                  <p>℃</p>
                </article>
                <article class="sensor_data_view sdv_w_side">
                  <p>외기습도</p>
                  <p id="outsideAirReh">-</p>
                  <p>%</p>
                </article>
                <article class="sensor_data_view sdv_w_side">
                  <p>토양온도</p>
                  <p id="soilTemperature">-</p>
                  <p>℃</p>
                </article>
                <article class="sensor_data_view sdv_w_side">
                  <p>토양습도</p>
                  <p id="soilReh">-</p>
                  <p>%</p>
                </article>
                <article class="sensor_data_view sdv_w_side">
                  <p>토양EC</p>
                  <p id="soilWaterValue">-</p>
                  <p>%</p>
                </article>
              </section>
            </div>
          </div>
          <div class="component_piece_box">
            <article class="component_piece_area">
              <header>인버터 전압/전류(AC)</header>
              <section id="inverterStatus" class="component_piece_body">
                <article class="component_ele_status">
                  <header>나주 고정식 33 kW급 쏠라테크</header>
                  <section class="sensor_data_view sddv_w35">
                    <article class="sensor_data_view sdv_w541 fs_150rem">
                      <p>전압</p>
                      <p>243.3</p>
                      <p>V</p>
                    </article>
                    <article class="sensor_data_view sdv_w541 fs_150rem">
                      <p>전류</p>
                      <p>43.3</p>
                      <p>A</p>
                    </article>
                  </section>
                </article>
              </section>
            </article>
          </div>
          <div class="component_piece_box">
            <article class="component_piece_area">
              <header>생육 환경 현황</header>
              <div id="growthEnvChart" class="component_piece_body p_column_rem">
                Graph
              </div>
            </article>
          </div>
        </div>
      </div>
      <!--하단1-->

      <%- include("../master/footer.ejs") %>
    </div>

    <script>
      const powerGenerationInfo = <%- JSON.stringify(powerGenerationInfo) %>;
      const growthEnv = <%- JSON.stringify(growthEnv) %>;

      const dom = <%- JSON.stringify(dom) %>;
    </script>

    <script>
      const { sensorStatusListDom, inverterStatusListDom } = dom;

      document
        .getElementById('inclinedSolar')
        .setAttribute('value', powerGenerationInfo.inclinedSolar);

      // 발전 현황 셋팅
      setDomElementValueWithJson(
        document.getElementById('current_power_data'),
        powerGenerationInfo,
        'innerHTML',
        'data-id',
      );
      setDomElementValueWithJson(
        document.getElementById('daily_power_data'),
        powerGenerationInfo,
        'innerHTML',
        'data-id',
      );
      setDomElementValueWithJson(
        document.getElementById('powerStatus'),
        powerGenerationInfo,
        'innerHTML',
        'id',
      );

      document.getElementById('growthEnv').innerHTML = sensorStatusListDom;
      document.getElementById('inverterStatus').innerHTML = inverterStatusListDom;

      // 금일 발전량 차트
      makeGaugeChart({
        domId: 'daily_power_graph',
        yAxis: {
          min: 0,
          max: powerGenerationInfo.currKwYaxisMax * 8,
          title: '',
        },
        series: {
          name: '',
          data: powerGenerationInfo.dailyPower,
          tooltip: {
            valueSuffix: 'kWh',
          },
        },
      });
      // 현재 발전량 차트
      makeGaugeChart({
        domId: 'current_power_graph',
        yAxis: {
          min: 0,
          max: powerGenerationInfo.currKwYaxisMax,
          title: '',
        },
        series: {
          name: '',
          data: powerGenerationInfo.currKw,
          tooltip: {
            valueSuffix: 'kW',
          },
        },
      });

      makeColumnChart({
        domId: 'growthEnvChart',
        xAxis: {
          categories: ['토양', '외기'],
        },
        yAxis: [
          {
            labels: {
              format: '{value} °C',
              style: {
                color: Highcharts.getOptions().colors[1],
              },
            },
            title: {
              text: '온도',
            },
            min: -10,
            max: 40,
            tickInterval: 10,
            // tickAmount: 5,
          },
          {
            labels: {
              format: '{value} %',
              style: {
                color: Highcharts.getOptions().colors[1],
              },
            },
            title: {
              text: '습도',
            },
            min: 0,
            max: 100,
            tickInterval: 20,
            // tickAmount: 5,
            opposite: 1,
          },
        ],
        series: [
          {
            name: '온도',
            data: [growthEnv.soilTemperature, growthEnv.outsideAirTemperature],
            color: 'red',
            tooltip: {
              valueSuffix: ' °C',
            },
          },
          {
            name: '습도',
            data: [growthEnv.soilReh, growthEnv.outsideAirReh],
            yAxis: 1,
            tooltip: {
              valueSuffix: ' %',
            },
          },
          {
            name: '토양 EC',
            data: [growthEnv.soilWaterValue],
            yAxis: 1,
            tooltip: {
              valueSuffix: ' %',
            },
          },
        ],
      });
    </script>
  </body>
</html>
