<!DOCTYPE html>
<html>
  <head>
    <!-- Default Js -->
    <%- include("../master/head.ejs") %>
    <script src="/js/contents/master/mainUtil.js"></script>
    <script src="/js/hichart/exporting.js"></script>
    <script src="/js/hichart/export-data.js"></script>
  </head>

  <body>
    <div id="wrap" class="wrap hidden">
      <!-- Header -->
      <%- include("../master/header.ejs") %>
      <!--메인-->
      <div class="container_body">
        <div class="container_row navi">
          <div id="subCategoryDom" class="report_category"></div>
        </div>
        <div class="container_row flex_dir_col">
          <p class="table_desc_area">측정시간 &nbsp; <span id="measureTime"> </span></p>
          <div class="table-responsive default_area">
            <table class="table table-bordered number_table">
              <thead id="tableHeaderDom"></thead>
              <tbody id="tableBodyDom"></tbody>
            </table>
          </div>
        </div>
        <div class="container_row flex_dir_col">
          <p class="table_desc_area">
            접속반 채널별 전류 전압
          </p>
          <article id="divDomArea" class="flex_box"></article>
        </div>
      </div>
      <!--하단1-->
      <%- include("../master/footer.ejs") %>
    </div>

    <script>
      $('#tableHeaderDom').html(<%- JSON.stringify(dom.tableHeaderDom) %>);
      $('#tableBodyDom').html(<%- JSON.stringify(dom.tableBodyDom) %>);
      $('#subCategoryDom').html(<%- JSON.stringify(dom.subCategoryDom) %>);

      var measureInfo = <%- JSON.stringify(measureInfo) %>;
      // 측정 시간 입력
      document.getElementById('measureTime').innerHTML = measureInfo.measureTime;
    </script>

    <!-- subCategoryDom 자동 이벤트 부여  -->
    <script src="/js/contents/report/search.js"></script>

    <script>
      // 자동 Div Dom 생성을 위함
      var divDomList = <%- JSON.stringify(dom.divDomList) %>;
      // 차트를 그리기 위한 데이터
      var madeLineChartList = <%- JSON.stringify(madeLineChartList) %>;
    </script>

    <script>
      $('#divDomArea').html(divDomList);

      madeLineChartList.forEach(function(chartInfo) {
        makeLineChart(chartInfo);
      });
    </script>
  </body>
</html>
