<!DOCTYPE html>
<html>
  <head>
    <!-- Default Js -->
    <%- include("../master/head.ejs") %>
    <script src="/js/contents/main/hichartMaker.js"></script>
    <!-- SVG Map 을 생성하기 위한 필수 Library -->
    <link href="/css/template/svg.filter.css" rel="stylesheet" />
    <script src="/js/svg/svg.js"></script>

    <!-- SVG Map을 생성하고 관리하기 위한 Core Library -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- Custom 제어 Confirm 창 구현을 위한 Library -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"
    ></script>

    <!-- 제어 표 구현을 위한 Library -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-table.min.css" />
    <script src="/js/bootstrap/bootstrap-table.min.js"></script>

    <!-- FIXME: -->
    <script
      src="https://kit.fontawesome.com/03372b7b51.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <!-- 서버사이드 데이터 정의 -->
  <script>
    // 서브 카테고리 Dom
    var subCategoryDom = <%- JSON.stringify(dom.subCategoryDom) %>;
    // Map 정보
    var map = <%- JSON.stringify(map) %>;
    // 세션 ID
    var sessionID = <%- JSON.stringify(sessionID) %>;
    // 로그인 사용자 정보
    var user = <%- JSON.stringify(user) %>;

    // 생성하고자 하는 차트 Dom 목록
    var chartDomList = <%- JSON.stringify(dom.chartDomList) %>;
    // 생성하고자 하는 차트 목록
    var chartList = <%- JSON.stringify(chartList) %>;
  </script>

  <body>
    <div id="wrap" class="wrap">
      <!-- Header -->
      <%- include("../master/header.ejs") %>
      <!--메인-->
      <div class="container_body hidden" id="container_body">
        <div class="container_row navi">
          <div id="subCategoryDom" class="report_category"></div>
          <div id="commandStatus" class="command_status">
            <button
              name="isApiClientConn"
              class="btn btn-danger btn-sm cursorDefault"
              style="pointer-events: none"
              title="수집서버 연결 상태"
            >
              <span class="glyphicon glyphicon-link"></span>
            </button>
            <div id="contentTypeCategory" class="ml_2rem">
              <input
                type="button"
                name="contentTypeBtn"
                class="btn btn-danger"
                data-view="structure"
                value="구성도"
              />
              <input
                type="button"
                name="contentTypeBtn"
                class="btn btn-default"
                data-view="operStatusTable"
                value="표"
              />
            </div>
            <div class="user_box ml_2rem hidden" id="operationMode">
              <span>구동 모드:</span>
              <select class="form-control mw_11rem ml_1rem" id="operationModeSel">
                <option selected value="DEFAULT">기본 모드</option>
                <option selected value="DEFAULT2">기본 모드2</option>
                <option selected value="DEFAULT3">기본 모드3</option>
              </select>
            </div>
          </div>
        </div>
        <%- include("./addCommand.ejs") %> <%- include("./confirmCommand.ejs") %>
        <!-- Content -->
        <div id="controlContent">
          <!-- Svg Map -->
          <div class="" id="structure">
            <div class="flex">
              <%- include("./sidebar.ejs") %>
              <!-- SVG canvas -->
              <div class="svg-contents-area">
                <div
                  class="toggle btn btn-default"
                  name="sidebar-toggle"
                  title="사이드바 열기"
                ></div>
                <div class="svg_area" id="canvas">
                  <%- include('../master/filter.ejs') %> <%-
                  include('../master/filter.btn.ejs') %>
                </div>
              </div>
            </div>
            <div class="flex_dir_col hidden mt_2rem" id="chartDom">
              <p class="table_desc_area">트렌드</p>
              <div id="chartDomList" class="flex_box"></div>
            </div>
          </div>
          <!-- Tables -->
          <div class="hidden" id="operStatusTable">
            <div class="container_row">
              <p class="table_desc_area">
                명령 목록 - 갱신시간 &nbsp;<span id="cmdUpdateDate"></span>
              </p>
              <div class="table-responsive default_area">
                <table id="cmdTableBody" class="table table-bordered number_table">
                  <thead>
                    <tr>
                      <th data-field="wrapCmdFormat">명령 형식</th>
                      <th data-field="wrapCmdType">명령 타입</th>
                      <th data-field="wrapCmdStep">명령 단계</th>
                      <th data-field="wrapCmdId">명령 ID</th>
                      <th data-field="wrapCmdName">명령 이름</th>
                      <th data-field="wrapCmdCancel">명령 취소</th>
                    </tr>
                  </thead>
                  <tbody id="cmdTableBodyDom"></tbody>
                  <script id="cmdTableTemplate" type="template">
                    {{#if commandList}}
                      {{#each commandList}}
                      <tr data-uuid={{ wrapCmdUUID }}>
                        <td class="text-center">{{ wrapCmdFormat }}</td>
                        <td class="text-center">{{ wrapCmdType }}</td>
                        <td class="text-center">{{ wrapCmdStep }}</td>
                        <td class="text-center">{{ wrapCmdId }}</td>
                        <td class="text-center">{{ wrapCmdName }}</td>
                        <td class="text-center"><button class="btn btn-primary" name="reqCancelCmd">취소</button></td>
                      </tr>
                        {{/each}}
                        {{else}}
                      <tr>
                        <td colspan="6" class="text-center">There are no commands during execution</td>
                      </tr>
                    {{/if}}
                  </script>
                </table>
              </div>
            </div>
            <div class="container_row">
              <p class="table_desc_area">
                장치 상태 정보 목록 - 갱신시간 &nbsp;<span id="nodeUpdateDate"></span>
              </p>
              <div class="table-responsive default_area">
                <table id="nodeTableBody" class="table table-bordered number_table">
                  <thead>
                    <tr>
                      <th data-field="ntn">장치 명</th>
                      <th data-field="ni">장치 ID</th>
                      <th data-field="pnl">관련 장소</th>
                      <th data-field="d">데이터</th>
                    </tr>
                  </thead>
                  <tbody id="nodeTableBodyDom"></tbody>
                  <script id="nodeTableTemplate" type="template">
                    {{#each mdNodeStorage}}
                    <tr>
                      <td class="">{{ ndName }} ({{ nodeName }})</td>
                      <td class="">{{ nodeId }}</td>
                      <td class="">{{ placeNameList }}</td>
                      <td class="">{{ nodeData }}</td>
                    </tr>
                    {{/each}}
                  </script>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--하단1-->
      <%- include("../master/footer.ejs") %>
    </div>

    <!-- panzoom & 맵 제어 박스 세팅 -->
    <script>
      // 맵 제어 박스 스크롤에 반응하여 상단 고정
      $(document).ready(() => {
        var filter = 'win16|win32|win64|mac|macintel';
        var canvas = document.getElementById('svgCanvas');
        var startScale = 1;

        // 캔버스 실행에 실패할 경우 (Map이 존재하지 않을 경우)
        if (canvas === null) {
          document.querySelector('#canvas').remove();
          document.querySelector('#commandStatus').remove();
          return false;
        }

        var canvasPanzoom = Panzoom(canvas, {
          cursor: 'default',
          startScale: startScale,
          // maxScale: 0.5,
          minScale: 0.5,
        });

        document.getElementById('zoomIn').addEventListener('click', canvasPanzoom.zoomIn);
        document
          .getElementById('zoomOut')
          .addEventListener('click', canvasPanzoom.zoomOut);
        document.getElementById('reset').addEventListener('click', canvasPanzoom.reset);
        canvas.addEventListener('wheel', canvasPanzoom.zoomWithWheel); // 마우스 휠 확대/축소 이벤트
      });
    </script>

    <!-- SVG 제어 UI 컨트롤 -->
    <script>
      (function () {
        // 모니터링 모드 Ele
        const monitoringMode = document.querySelector('#monitoring-mode');

        const sidebarToggleList = document
          .querySelector('#structure')
          .querySelectorAll('[name="sidebar-toggle"]');

        const navigation = document.querySelector('.navigation');

        const svgContentsArea = document.querySelector('.svg-contents-area');

        // 사이드바 토글 제어
        const toggleMenu = e => {
          navigation.classList.toggle('active');

          svgContentsArea.classList.toggle('active');

          sidebarToggleList.forEach(ele => {
            ele.classList.toggle('active');
          });
        };
        // 사이드바 토글 제어 엘리먼트에 Click 이벤트 부여
        sidebarToggleList.forEach(ele => {
          ele.addEventListener('click', toggleMenu);
        });

        // 모니터링 버튼 이벤트 처리
        const fullScreenI = monitoringMode.querySelector('i');
        const fullScreenToggleClassList = ['fa-arrows-alt', 'fa-compress-arrows-alt'];

        monitoringMode.addEventListener('click', mouseEvent => {
          monitoringMode.classList.toggle('active');

          // 최대화 활성화 일 경우
          const isFullScreen = monitoringMode.classList.contains('active');
          if (isFullScreen) {
            fullScreenI.classList.add('fa-compress-arrows-alt');
            fullScreenI.classList.remove('fa-arrows-alt');
            monitoringMode.setAttribute('title', '기본 화면');
          } else {
            fullScreenI.classList.remove('fa-compress-arrows-alt');
            fullScreenI.classList.add('fa-arrows-alt');
            monitoringMode.setAttribute('title', '전체 화면');
          }

          document
            .querySelectorAll('.container_row')
            .forEach(ele => ele.classList.toggle('hidden'));

          document.querySelector('#wrap > header').classList.toggle('hidden');
          document.querySelector('#wrap > footer').classList.toggle('hidden');

          window.dispatchEvent(new Event('resize'));
        });
      })();
    </script>

    <!-- Map 데이터를 기반으로 SVG를 생성 및 관리할 Module -->
    <script src="/js/drawSvg/drawSvg-base.js"></script>
    <script src="/js/drawSvg/drawTriggerImg.js"></script>

    <!-- Default Setting -->
    <script>
      document.getElementById('subCategoryDom').innerHTML = subCategoryDom;

      // 생성하고자 하는 돔이 있을 경우 hidden 해제
      if (chartDomList.length) {
        document.getElementById('chartDom').classList.remove('hidden');
        document.getElementById('chartDomList').innerHTML = chartDomList;

        // 차트 생성
        chartList.forEach(function (chartInfo) {
          makeLineChart(chartInfo);
        });
      }

      // 명령 목록을 보여줄 돔
      var $cmdTableDom;
      var $cmdUpdateDom;
      // 노드 상태를 보여줄 돔
      var $nodeTableDom;
      var $nodeUpdateDom;
      //  자동 갱신될 명령 테이블, 노드 테이블 Dom Id
      function initControlTableId(cmdTblDomId, cmdUpDomId, nodeTblDomId, nodeUpDomId) {
        $cmdTableDom = $('#' + cmdTblDomId);
        $cmdUpdateDom = $('#' + cmdUpDomId);
        $nodeTableDom = $('#' + nodeTblDomId);
        $nodeUpdateDom = $('#' + nodeUpDomId);
      }

      // 테이블 ID 정의
      initControlTableId(
        'cmdTableBody',
        'cmdUpdateDate',
        'nodeTableBody',
        'nodeUpdateDate',
      );
    </script>

    <!-- 제어 및 Socket.IO 이벤트 바인딩 -->
    <script>
      const socket = io();

      function bindingSocketEmit() {
        // 서버로 명령 취소 요청
        $('#cmdTableBody').on('click', 'button[name="reqCancelCmd"]', event => {
          const wrapCmdUUID = $(event.currentTarget)
            .parentsUntil('tr')
            .parent()
            .data('uuid');

          socket.emit('cancelCommand', wrapCmdUUID) && $('#cmdGoalArea').html('');
        });

        // 제어 관리 js 세팅 및 바인딩
        $('#operationModeSel').on('change', function () {
          const selectedAlgorithmId = $('#operationModeSel option:selected').val();

          // 제어 모드 변경 요청
          socket.emit('changeOperationMode', selectedAlgorithmId);
        });
      }

      // 소켓서버에서 보내온 메시지 이벤트 대응 로직 바인딩
      function bindingSocketOn() {
        // 인증 요청을 받으면 수행
        socket.on('authSocket', () => {
          socket.emit('authSocket', {
            sessionID: sessionID,
            sessionUserInfo: user,
            siteId,
          });
        });

        // 명령 요청 결과 Alert
        socket.on('resultExecCommand', message => {
          document.getElementById('resultExecCommand').innerText = message;
        });

        // 장치 연결 상태 반영
        socket.on('updateIsApiClientConn', isConn => {
          document
            .querySelectorAll('button[name="isApiClientConn"]')
            .forEach(btnElement => {
              if (isConn === true) {
                btnElement.classList.add('btn-success');
                btnElement.classList.remove('btn-danger');
              } else {
                btnElement.classList.remove('btn-success');
                btnElement.classList.add('btn-danger');
              }
            });
        });

        /**
         * 구동 모드 변경 처리
         * @param {Object} modeInfo
         * @param {string} modeInfo.algorithmId 알고리즘 ID
         * @param {Object} modeInfo.operationConfigList 간단한 명령 정보
         * @param {string} modeInfo.operationConfigList.algorithmId 제어 알고리즘 ID (Algorithm ID)
         * @param {string} modeInfo.operationConfigList.algorithmName 제어 알고리즘 Name
         * @param {string} modeInfo.operationConfigList.cmdStrategy 명령 전략
         */
        socket.on('updateMode', modeInfo => {
          // console.log(modeInfo);
          currModeInfo = modeInfo;

          const { algorithmId = '', operationConfigList = [] } = modeInfo;
          const operationModeDom = document.getElementById('operationMode');
          const operationModeSelDom = document.getElementById('operationModeSel');
          // 구동 중인 모드가 존재한다면 구동 모드 활성화
          if (operationConfigList.length > 1) {
            operationModeDom.classList.remove('hidden');

            // 템플릿 정의
            const optionTemplate = Handlebars.compile(
              '<option {{ selected }}  value="{{ optionId }}">{{ optionValue }}</option>',
            );

            // select option 동적 생성
            const optionDomList = _.map(operationConfigList, oConfig => {
              // 현재 수행 중인 구동 모드와 동일한 option은 selected 처리
              const selected = oConfig.algorithmId === algorithmId ? 'selected' : '';
              // 템플릿 적용하여 Dom 생성
              return optionTemplate({
                selected,
                optionId: oConfig.algorithmId,
                optionValue: oConfig.algorithmName,
              });
            });
            // Select Dom 적용
            operationModeSelDom.innerHTML = optionDomList;
          } else {
            operationModeDom.classList.add('hidden');
            operationModeSelDom.innerHTML = '';
          }
        });

        // 갱신 노드 반영 {ni: NodeId, ntn: Node Target Name, d: data, pnl: Place Target Name}[]
        socket.on('updateNode', (wsNodeList = []) => {
          wsNodeList.forEach(wsNodeInfo => {
            showNodeData(wsNodeInfo.ni, wsNodeInfo.d);
          });

          // nodeList Handlebars compile
          const nodeTbodyTemplate = document.getElementById('nodeTableTemplate')
            .innerHTML;

          const nodeTbodyBindTemplate = Handlebars.compile(nodeTbodyTemplate);
          const nodeTableBody = nodeTbodyBindTemplate({
            mdNodeStorage: mdNodeStorage.values(),
          });

          document.getElementById('nodeTableBodyDom').innerHTML = nodeTableBody;

          // 노드 정보 갱신 시각 반영
          $nodeUpdateDom.html(new Date().toLocaleString());
        });

        // 명령 관련 갱신 반영
        socket.on('updateCommand', (commandList = []) => {
          // console.log(commandList);
          updateCommand(commandList);
          // cmdList Handlebars compile
          const cmdTbodyTemplate = document.getElementById('cmdTableTemplate').innerHTML;
          const cmdTbodyBindTemplate = Handlebars.compile(cmdTbodyTemplate);
          const cmdTableBody = cmdTbodyBindTemplate({ commandList });

          //  리턴받은 html을 target에 innerHTML로 세팅한다.
          document.getElementById('cmdTableBodyDom').innerHTML = cmdTableBody;

          // 명령 갱신 시각 반영
          $cmdUpdateDom.html(new Date().toLocaleString());
        });

        // 서버로 명령 실행 요청한 결과 알림
        socket.on('updateAlert', function (message) {
          alert(message);
        });
      }

      // SVG Device click을 통한 제어
      function reqSingleControl(nodeId, singleControlType, controlSetValue) {
        socket.emit('executeCommand', {
          // 기본 값은 명령 요청
          nodeId,
          singleControlType,
          controlSetValue,
        });
      }

      // 명령 요청
      function reqCommandControl(wsGenerateControlCmdAPI) {
        socket.emit('executeCommand', wsGenerateControlCmdAPI);
      }

      // Browser >>> Server 이벤트 바인딩
      bindingSocketEmit();
      // Server >>>  Browser 이벤트 바인딩
      bindingSocketOn();

      // FIXME: TEXT 종료 후 삭제
      $(document).ready(function () {
        const thisSelectValue = CF_SINGLE;
        // const thisSelectValue = CF_SET;
        // const thisSelectValue = CF_FLOW;
        // const thisSelectValue = CF_SCENARIO;

        // 명령 형식 변경
        $('#cmdFormatSel').val(thisSelectValue).trigger('change');
      });
    </script>

    <!-- SVG Map 세팅 -->
    <script>
      if (map !== null) {
        initDrawSvg();

        // 캔버스 생성
        const svgCanvas = SVG().addTo(`#canvas`).size('100%', '100%');
        // SVG Canvas 속성 정의
        svgCanvas.attr({
          id: 'svgCanvas',
          class: 'svg_map',
          preserveAspectRatio: 'xMidYMin meet',
        });

        // defs Element를 SVG Element 자식 요소 최상위로 정의
        svgCanvas.defs();

        // string으로 변환하여 붙여넣음. Dom 요소로 붙여넣을 경우 동작하지 않음
        const defHtml =
          document.getElementById('svgFilter').innerHTML +
          document.getElementById('svgBtnFilter').innerHTML;
        // id 중복을 막기위한 filter 요소 삭제
        document.getElementById('svgFilter').remove();
        document.getElementById('svgBtnFilter').remove();

        document.getElementById('svgCanvas').querySelector('defs').innerHTML = defHtml;

        drawSvgBasePlace(svgCanvas); // 멥 그리기

        threImgManager.handleThresholdClear();
        // Trigger 이미지 임계치 확인

        // FIXME: TEST 용
        // setTimeout(() => {
        //   runSimulator();
        // }, 100);
        // console.log(wsPlaceRelList);
        // console.log(mdPlaceStorage);
      }
    </script>

    <!-- 상단 카테고리 버튼 세팅 -->
    <script>
      // 데이터 뷰 버튼 선택에 따라 보여지는 View 분기 처리
      $('input[name="contentTypeBtn"]').on('click', function () {
        var viewType = $(this).data('view');

        // 버튼 색상 변경
        $('#contentTypeCategory')
          .children('input')
          .each(function (index, inputElement) {
            var currDataView = $(inputElement).data('view');
            if (currDataView === viewType) {
              $(this).addClass('btn-danger');
              $(this).removeClass('btn-default');
            } else {
              $(this).removeClass('btn-danger');
              $(this).addClass('btn-default');
            }
          });

        // 선택한 데이터 뷰 선택 값에 따라 hidden 설정
        $('#controlContent')
          .children('div')
          .each((index, domElement) => {
            const { id: domId } = domElement;
            if (domId === viewType) {
              document.getElementById(domId).classList.remove('hidden');
            } else {
              document.getElementById(domId).classList.add('hidden');
            }
          });
      });
    </script>

    <!-- 검색 관련 js 모음 -->
    <script src="/js/contents/report/search.js"></script>

    <script>
      $(document).ready(() => {
        document.getElementById('container_body').classList.remove('hidden');
      });
    </script>
  </body>
</html>
