<!DOCTYPE html>
<html>
  <head>
    <!-- Default Js -->
    <%- include("../master/head.ejs") %> <%- include("../master/excel.ejs") %>
    <script src="/js/contents/master/mainUtil.js"></script>
    <link href="/css/spinner.css" rel="stylesheet" />
  </head>

  <body>
    <%- include("../master/spinner.ejs") %>
    <div id="wrap" class="wrap hidden">
      <!-- Header -->
      <%- include("../master/header.ejs") %>
      <!--메인-->
      <div class="container_body">
        <div class="container_row navi">
          <div id="subCategoryDom" class="report_category"></div>
        </div>
        <%- include("../../master/searchReport.ejs") %>
        <div class="container_row flex_dir_col">
          <div class="table-responsive default_area">
            <table class="table table-bordered number_table">
              <thead id="tableHeaderDom"></thead>
              <tbody id="tableBodyDom"></tbody>
            </table>
          </div>
          <div id="paginationDom" class="table_pagenation"></div>
        </div>
      </div>
      <!--하단1-->
      <%- include("../master/footer.ejs") %>
    </div>
    <script>
      $('#subSelectBoxDom').html(<%- JSON.stringify(dom.subSelectBoxDom) %>);

      $('#tableHeaderDom').html(<%- JSON.stringify(dom.tableHeaderDom) %>);
      $('#tableBodyDom').html(<%- JSON.stringify(dom.tableBodyDom) %>);
      $('#paginationDom').html(<%- JSON.stringify(dom.paginationDom) %>);

      $('#subCategoryDom').html(<%- JSON.stringify(dom.subCategoryDom) %>);

      // 초기 시작시 라디오 체크버튼 클릭처리
      var searchRange = <%- JSON.stringify(searchRange) %>;
      var reportInfo = <%- JSON.stringify(reportInfo) %>;

      var siteId = _.get(reportInfo, 'siteId');
      var subCategory = _.get(reportInfo, 'subCategory');
      var subCategoryName = _.get(reportInfo, 'subCategoryName');
      var subCategoryId = _.get(reportInfo, 'subCategoryId');

      $('#subCategoryName').html(subCategoryName);
    </script>

    <script src="/js/contents/report/search.js"></script>

    <!-- 기본 데이터 세팅 -->
    <script>
      checkSelectBoxOption('searchInterval', searchRange.searchInterval);
      checkSelectBoxOption('searchType', searchRange.searchType);
      checkSelectBoxOption('searchOption', searchRange.searchOption);

      // 검색 타입에 따라 적용
      applySearchType(searchRange.searchType);
    </script>
  </body>
</html>
